@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .grid___three {
    @apply bg-red-400 px-4
     py-2 border-2 border-transparent transition-all duration-500 hover:border-blue-500 focus:bg-gray-500 focus:text-white hover:text-2xl;
    /* @apply p-8; */
  }
  .grid___two {
    @apply bg-red-400 px-4
     py-2 border-2 border-transparent transition-all duration-500 hover:border-blue-500 focus:bg-gray-500 focus:text-white hover:text-2xl;
    /* @apply p-8; */
  }
  .grid___one {
    @apply bg-red-400 px-4
     py-2 border-2 border-transparent transition-all duration-500 hover:border-blue-500 focus:bg-gray-500 focus:text-white hover:text-2xl;
    /* @apply p-8; */
  }
}

/* body::-webkit-scrollbar {
  display: none;
} */
.hide_scrollbar::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

#category {
  overflow: hidden;
}
